body {
  color: goldenrod;
}

h1, h2 {
  font-family: 'AnkeRegular';
  font-weight: bolder;
}

p {
   font-family: 'AnkeRegular';
   font-weight: normal;
   font-style: normal;
   color: black;
}

.navbar {
  height: 85px;
  margin-bottom: 0;
  background-color: #324253;
  z-index: 1;
}

.navbar a {
  color: #f3f0ec;
  text-decoration: none;
}

.lightgray {
  color: #f3f0ec;
}

footer {
  height: 250px;
  background-color: #324253;
}

.btn {
  background-color: #4dc4e6;
  border: 0 white;
  font-family: sans-serif;
  /*box-shadow: 1px 2px 5px #000000;*/
}

.soon {
  background-color: #f3f0ec;
}

.nobr	{
  white-space:nowrap;
}

.jumbotron {
  background-image: url(/images/open1.png);
  background-size: cover;
  top: -20px;
  /*padding-top: 5%;*/
  min-height: 600px;
  position: relative;
  margin-bottom: 0;
}

#works .fa-5x {
  border:4px solid;
  border-radius: 50%;
  height: 130px;
  line-height: 120px;
  text-align: center;
  vertical-align: middle;
  width: 130px;
}
