<div class="jumbotron">
  <div class="container-fluid">
    <div class="col-lg-6">
    </div>
    <div class="text-center col-lg-5">
      <h2><span class="lightgray">Welcome,<br>Now that you've found the</span></h2>
      <h1>Treasure Chest</h1>
      <h2><span class="lightgray">We invite you to enjoy the spoils.</span></h2>
      <p><a class="btn btn-success btn-lg" ui-sref="newUser" role="button">JOIN NOW</a></p>
    </div>
  </div>
</div>

<!-- HOW IT WORKS SECTION -->
<div id="works" class="text-center">
  <div class="container">
    <div class="page-header">
      <h1>HOW IT WORKS</h1>
    </div>
    <!-- Three columns of text belothe carousel -->
    <div class="row">
      <div class="col-lg-4">
        <i class="fa fa-hand-pointer-o fa-rotate-40 fa-5x" aria-hidden="true"></i>
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
        <h2><span class="text-muted">1. Step One</span></h2>
        <p class="lead">Join Treasure Chest. Choose Plan and Checkout.</p>
        <br>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <i class="fa fa-paper-plane-o fa-5x" aria-hidden="true"></i>
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
        <h2><span class="text-muted">2. Step Two</span></h2>
        <p class="lead">We gather and ship items.... Every month is different!</p>
        <br>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
        <h2><span class="text-muted">3. Step Three</span></h2>
        <p class="lead">You receive stuff!</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</div>

<!-- COMING SOON SECTION -->
<div id="soon" class="soon text-center">
  <div class="container">
    <h1><br>COMING SOON</h1>

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="100" height="100">
        <div class="panel-heading">
          <h2>1 Month Trial</h2>
        </div>
        <div class="panel-body">
          <p><strong>Limited Time Offer</strong></p>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
        <div class="panel-footer">
          <h3>Total Price:<strong> $25</strong></h3>
          <h4>No Renewal</h4>
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal1">View details &#x25BE;</button>

          <!-- Modal2 -->
          <div class="modal fade" id="myModal1" role="dialog">
            <div class="modal-dialog">

              <!-- Modal1 content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="100" height="100">
        <div class="panel-heading">
          <h2>3 Month Trial</h2>
        </div>
        <div class="panel-body">
          <p><strong>Limited Time Offer</strong></p>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div>
        <div class="panel-footer">
          <h3>Total Price:<strong> $150</strong></h3>
          <h4>Renews Automatically</h4>
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal2">View details &#x25BE;</button>

          <!-- Modal2 -->
          <div class="modal fade" id="myModal2" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="100" height="100">
        <div class="panel-heading">
          <h2>Annual Plan</h2>
        </div>
        <div class="panel-body">
          <p><strong>Limited Time Offer</strong></p>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
        <div class="panel-footer">
          <h3>Total Price:<strong> $300</strong></h3>
          <h4>Renews Automatically</h4>
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal3">View details &#x25BE;</button>

          <!-- Modal3 -->
          <div class="modal fade" id="myModal3" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->

      <div class="row"></div>
      <div class="row">
        <p><br><br><a class="btn btn-success btn-lg" ui-sref="newUser" role="button">Subscribe</a></p>
      </div>
      <div class="row"><br></div>

    </div><!-- /.row -->
  </div>
</div>

<!-- ABOUT US SECTION -->
<div id="about" class="text-center">
  <div class="container">

    <!-- ABOUT US -->
    <div class="col-md-7">
    <div class="page-header">
      <h1><br>ABOUT US</h1>
    </div>
    <div class="row featurette">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>
      <div class="col-md-5"><br><br>
        <img src="/images/about.png" class="featurette-image img-responsive img-rounded center-block" alt="Generic placeholder image"><br>
      </div>
  </div>
</div>

<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <p class="pull-right"><br><a href="#">Back to top</a></p>
    </div>
    <div class="row pull-right">
        <br><br>SOCIAL MEDIA<br>
        <i class="fa fa-instagram fa-5x" aria-hidden="true"></i>
        <i class="fa fa-facebook fa-5x" aria-hidden="true"></i>
        <i class="fa fa-twitter fa-5x" aria-hidden="true"></i>
    </div>
    <div class="row lightgray">
      <p>Copyright &copy; Treasure Chest 2016 &middot; <!-- <a href="#">Privacy</a> &middot;  --> <a href="#">Terms</a></p>
    </div>
  </div>
</footer>
