<div class="jumbotron">
  <div class="container-fluid">
    <div class="col-lg-6">
    </div>
    <div class="text-center col-lg-5">
      <h2><span class="lightgray" style="text-shadow: 3px 3px 4px black;">Welcome,<br>You've found the</span></h2>
      <h1>Treasure Chest</h1>
      <h2><span class="lightgray" style="text-shadow: 3px 3px 4px black;">A subscription service, dedicated to Tabletop, Role-Playing Games.</span></h2>
      <p><a class="btn btn-info btn-lg" ui-sref="newUser" role="button">SUBSCRIBE</a></p>
    </div>
  </div>
</div>
<div class="container" style="text-align:center;">
  <i class="fa fa-quote-left fa-3x" aria-hidden="true"><em style="color:gray"> It's GenCon in a box </em></i>           <i class="fa fa-quote-right fa-3x"></i>
</div>

<!-- HOW IT WORKS SECTION -->
<div id="works" class="text-center">
  <div class="container">
    <div class="page-header"><br>
      <h1>HOW IT WORKS</h1>
    </div>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <i class="fa fa-hand-pointer-o fa-rotate-40 fa-5x" aria-hidden="true"></i>
        <h2><span class="color: #4dc4e6;">1. Step One</span></h2>
        <p class="lead">Join Treasure Chest. Choose Plan and Checkout.</p>
        <br>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <i class="fa fa-paper-plane-o fa-5x" aria-hidden="true"></i>
        <h2><span class="color: #4dc4e6;">2. Step Two</span></h2>
        <p class="lead">We gather and ship items.... Every month is different!</p>
        <br>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
        <h2><span class="color: #4dc4e6;">3. Step Three</span></h2>
        <p class="lead">You receive stuff!</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</div>

<!-- WHAT IS IN A BOX SECTION -->
<div id="init" class="init text-center">
  <div class="container">
    <h1><br>WHAT'S IN IT?</h1>
    <h3 class="featurette-heading"><span class="text-muted">Every month you will get a mix of...</span></h3><br>

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="/images/diceaccessories.png" alt="Generic placeholder image" width="160" height="160">
        <div class="panel-heading">
          <h2>Dice & Accessories</h2>
        </div>
        <div class="panel-body">
          <p>You can expect high-quality dice of different colors, shapes, sizes, and materials. The same goes with dice bags and dice trays.</p>
        </div>
        <!-- <div class="panel-footer">
          <h3>Total Price:<strong> $25</strong></h3>
          <h4>No Renewal</h4> -->
          <!-- Trigger the modal with a button -->
          <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal1">View details &#x25BE;</button> -->

          <!-- Modal2 -->
          <!-- <div class="modal fade" id="myModal1" role="dialog">
            <div class="modal-dialog"> -->

              <!-- Modal1 content-->
              <!-- <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="/images/shirt.png" alt="Generic placeholder image" width="160" height="160">
        <div class="panel-heading">
          <h2>Apparel</h2>
        </div>
        <div class="panel-body">
          <p>You can expect high-quality clothing that showcases your passion and love of Tabletop, Role-Playing games.</p>
        </div>
        <!-- <div class="panel-footer">
          <h3>Total Price:<strong> $150</strong></h3>
          <h4>Renews Automatically</h4>
          <!-- Trigger the modal with a button -->
          <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal2">View details &#x25BE;</button> -->

          <!-- Modal2 -->
          <!-- <div class="modal fade" id="myModal2" role="dialog">
            <div class="modal-dialog"> -->

              <!-- Modal content-->
              <!-- <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="/images/miniature.png" alt="Generic placeholder image" width="160" height="160">
        <div class="panel-heading">
          <h2>Miniatures & Maps</h2>
        </div>
        <div class="panel-body">
          <p>You can expect high-quality miniatures of Monsters and Heroes from a wide range...fantasy, fiction and science fiction.</p>
        </div>
        <!-- <div class="panel-footer">
          <h3>Total Price:<strong> $300</strong></h3>
          <h4>Renews Automatically</h4>
          <!-- Trigger the modal with a button -->
          <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal3">View details &#x25BE;</button> -->

          <!-- Modal3 -->
          <!-- <div class="modal fade" id="myModal3" role="dialog">
            <div class="modal-dialog"> -->

              <!-- Modal content-->
              <!-- <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>
        </div> -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</div>

<!-- COMING SOON SECTION -->
<div id="coming" class="text-center">
  <div class="container">
    <div class="page-header">
      <h1>COMING SOON</h1>
    </div>

    <!-- Three columns of text below the carousel -->
    <div class="container">
      <div class="row">
        <div class="pricing">
          <div class="panel-heading">
            <h2 class="text-muted">Introductory Offer</h2>
          </div>
          <div class="panel-body">
            <div class="stack">
              <h3 style="color:black;font-size:xx-large;">1 x<img src="/images/icon.png" alt="Generic placeholder image" width="100" height="100"></h3>
            </div>
            <p>Limited Time</p>
          </div>
          <div class="panel-footer">
            <h3>Total Price:<strong> $25</strong></h3>
            <p class="lead">No Renewal<br> </p>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="pricing">
          <div class="panel-heading">
            <h2 class="text-muted">Three-Month Trial</h2>
          </div>
          <div class="panel-body">
            <div class="stack">
              <h3 style="color:black;font-size:xx-large;">3 x<img src="/images/icon.png" alt="Generic placeholder image" width="100" height="100"></h3>
            </div>
            <p>Limited Time</p>
          </div>
          <div class="panel-footer">
            <h3>Total Price:<strong> $70</strong></h3>
            <p class="lead">Renews Automatically<br><span style="color:goldenrod">Cancel any time</span></p>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="pricing">
          <div class="panel-heading">
            <h2 class="text-muted">Annual Subscription</h2>
          </div>
          <div class="panel-body">
            <div class="stack">
              <h3 style="color:black;font-size:xx-large;">6 x<img src="/images/icon.png" alt="Generic placeholder image" width="100" height="100"></h3>
            </div>
            <p>Limited Time</p>
            </div>
          <div class="panel-footer">
            <h3>Total Price:<strong> $140</strong></h3>
            <p class="lead">Renews Automatically<br><span style="color:goldenrod">Cancel any time</span></p>
          </div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <!-- <div class="row"> -->
        <p><a class="btn btn-info btn-lg" ui-sref="newUser" role="button">SUBSCRIBE</a></p>
      <!-- </div> -->
      <!-- <div class="row"><br></div> -->

    </div><!-- /.container -->
  </div>
</div>

<!-- ABOUT US SECTION -->
<div id="about" class="text-center init">
  <div class="container">

    <!-- ABOUT US -->
    <div class="col-md-7">
    <div class="page-header">
      <h1><br>ABOUT US</h1>
    </div>
    <div class="row featurette">
        <p class="lead">Treasure Chest is a subscription box service, dedicated to Tabletop, Role-Playing Games. It is our mission to provide high-quality products that can be enjoyed by both players and game masters alike. As the industry grows with new products every day, it is our mission to find the very best and deliver them to you, the gamers!</p>
      </div>
    </div>
      <div class="col-md-5"><br><br>
        <img src="/images/about.png" class="featurette-image img-responsive img-rounded center-block" alt="Generic placeholder image"><br>
      </div>
  </div>
</div>

<!-- FOOTER -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <p class="pull-right"><br><a href="#">Back to top</a></p>
    </div>
    <div class="row pull-right">
        <br><br><h4>SOCIAL MEDIA</h4>
        <i class="fa fa-instagram fa-5x" aria-hidden="true"></i>
        <i class="fa fa-facebook fa-5x" aria-hidden="true"></i>
        <i class="fa fa-twitter fa-5x" aria-hidden="true"></i>
    </div>
    <div class="footer-copyright">
        <div class="container">
        Treasure Chest © Copyright 2016
        <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        </div>
    </div>
  </div>
</footer>
