<style media="screen">
  .soon {
    background-color: lightgray;
  }

</style>


<div class="jumbotron">
  <div class="container">
    <br><br><br><br><br>
    <h1>Treasure Chest</h1>
    <p>We gift gifts</p>
    <br><br><br><br><br>
  </div>
</div>

<div class="text-center">
  <div class="container"><br><br>
    <h2 class="centered col-lg-12"><span class="line">HOW IT WORKS</span></h2>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>1. Step One</h2>
        <p>Join Treasure Chest. Choose Plan and Checkout.</p>
        <br>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>2. Step Two</h2>
        <p>We gather and ship items.... Every month is different!</p>
        <br>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>3. Step Three</h2>
        <p>You receive stuff!</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</div>

<div class="soon text-center">
  <div class="container"><br><br>
    <h2 class="centered col-lg-12"><span class="line">COMING SOON</span></h2>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <div class="panel-heading">
          <h2>1 Month Trial</h2>
        </div>
        <div class="panel-body">
          <p><strong>Limited Time Offer</strong></p>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
        <div class="panel-footer">
          <h3>Total Price:<strong> $25</strong></h3>
          <h4>No Renewal</h4>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <div class="panel-heading">
          <h2>3 Month Trial</h2>
        </div>
        <div class="panel-body">
          <p><strong>Limited Time Offer</strong></p>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div>
        <div class="panel-footer">
          <h3>Total Price:<strong> $150</strong></h3>
          <h4>Renews Automatically</h4>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <div class="panel-heading">
          <h2>Annual Plan</h2>
        </div>
        <div class="panel-body">
          <p><strong>Limited Time Offer</strong></p>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
        <div class="panel-footer">
          <h3>Total Price:<strong> $300</strong></h3>
          <h4>Renews Automatically</h4>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div><!-- /.col-lg-4 -->

      <div class="">
        <button class="btn btn-lg">Select</button>
      </div>

    </div><!-- /.row -->
  </div>
</div>

<div class="text-center">
  <div class="container">

    <!-- START THE FEATURETTES -->
    <h2 class="centered col-lg-12"><span class="line">ABOUT US</span></h2>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<footer style="height:350px;background-color:darkgray">
  <div class="container">
    <div class="row">
      <div class="bottom" style="bottom:0;">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>

      </div>
    </div>
  </div>
</footer>
