<!-- <h1>Create New User</h1>
<form ng-submit="main.create()">
<input type="text" ng-model="main.newUser.name" placeholder="Name">
<input type="email" ng-model="main.newUser.email" placeholder="Email">
<input type="password" ng-model="main.newUser.password" placeholder="Password">
<button type="submit">Create User</button>
</form> -->

<div class="container" style="text-align: center;margin-top:60px;">
  <div class="row">
    <div class="col-xs-4">
      <h1>1</h1>
    </div><!-- /.col-lg-4 -->
    <div class="col-xs-4">
      <h1>2</h1>
    </div><!-- /.col-lg-4 -->
    <div class="col-xs-4">
      <h1>3</h1>
    </div><!-- /.col-lg-4 --><br>
    <div class="col-xs-4">
      <h3>Account</h3>
    </div><!-- /.col-lg-4 -->
    <div class="col-xs-4">
      <h3 style="color: lightgray;">Delivery</h3>
    </div><!-- /.col-lg-4 -->
    <div class="col-xs-4">
      <h3><span style="color:lightgray;">Payment</span></h3>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

<h3 class="text-center">Create Your Account</h3>

<div class="container init" style="border: 3px solid #999;padding-top:30px;">
<div class="col-md-2">
</div>
<div class="col-md-8">
  <form ng-submit="main.create()">
    <!-- <div class="input-group input-group-lg">
      <input type="text" class="form-control" ng-model="main.newUser.firstName" placeholder="First Name">
    </div> -->
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i></span>
      <input type="text" class="form-control" ng-model="main.newUser.name" placeholder="First Name">
    </div>
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
      <input type="email" class="form-control" ng-model="main.newUser.email" placeholder="Email">
    </div>
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-key fa-fw fa-fw" aria-hidden="true"></i></span>
      <input type="password" class="form-control" ng-model="main.newUser.password" placeholder="Password">
    </div><hr>
    <button type="submit" class="btn btn-info btn-lg">Sign Up</button>
    <p><br>By clicking "Sign Up" you agree to the<br><br> <a href="#">Terms & Conditions</a> <br><br> Already have an account? <a ui-sref="login">Log in</a></p>
  </form>
</div>
</div>
</div>
